@use "@sass/mixins" as *;

.comment-thread-list {
  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__more-comments-btn {
    @include reset-button;

    font-weight: 500;

    &:hover {
      @include themify {
        color: themed("text-primary-hover");
      }
    }

    &:disabled {
      opacity: 0.6;
    }
  }

  &__loader {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
}
