@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.comment-thread-list {
  @include reset-list;

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__more-replies-btn {
    @include reset-button;

    font-weight: 500;

    &:hover {
      color: $color-inline-action-hover;
    }
  }

  &__spinner {
    margin-left: 0.5em;
    vertical-align: -13%;
  }
}
