@use "@sass/variables" as *;

.post-preview {
  & a:not(&__title):hover {
    color: $primary-dark;
  }

  &__header {
    display: flex;
    align-items: center;
    font-size: 15px;

    > :not(:last-child) {
      margin-right: 18px;
    }
  }

  &__subreddit {
    display: flex;
    align-items: center;
  }

  &__subreddit-img {
    width: 20px;
    height: 20px;
    background: no-repeat center / 100%;
    border-radius: 50%;
    margin-right: 4px;
  }

  &__subreddit-name {
    font-weight: 500;
  }

  &__title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
    line-height: 1.3;
  }

  &__footer {
    display: flex;
    font-weight: 500;
  }

  &__comments-btn {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      -webkit-mask: no-repeat center url(./assets/bubble.svg);
      background-color: currentcolor;
      margin-right: 6px;
    }
  }

  &__voting {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__score {
    margin: 0px 6px;
  }

  &__down-btn,
  &__up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: unset;
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    &::after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background-color: currentcolor;
    }

    &:hover::before {
      background-color: rgba($color: black, $alpha: 0.07);
    }
  }

  &__down-btn::after {
    -webkit-mask: no-repeat center url(./assets/arrow-down.svg);
  }

  &__up-btn::after {
    -webkit-mask: no-repeat center url(./assets/arrow-up.svg);
  }
}
