@use "@sass/variables" as *;

.post {
  padding: 12px 0;

  &--no-bottom-padding {
    padding-bottom: 0;
  }

  &__header {
    margin: 0 12px;
  }

  &__title {
    margin: 8px 12px 12px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    margin: 12px 12px 0;
    font-weight: 500;

    & a:hover {
      color: $color-inline-action-hover;
    }
  }

  &__comments-btn {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      mask: no-repeat center url(./assets/bubble.svg);
      background-color: currentcolor;
      margin-right: 6px;
    }
  }

  &__voting {
    margin-left: auto;
  }
}
