@use "@sass/mixins" as *;

.post {
  padding: 12px 0;

  &--no-bottom-padding {
    padding-bottom: 0;
  }

  &__header {
    margin: 0 12px;
  }

  &__title {
    margin: 8px 12px 12px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
  }

  &__footer {
    display: flex;
    margin: 12px 12px 0;
    font-weight: 500;
    color: themed("gray-800");

    @include dark-mode {
      color: themed("gray-200");
    }

    & a:hover {
      @include themify {
        color: themed("secondary-inline-action-hover");
      }
    }
  }

  &__comments-btn {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      mask: no-repeat center url(./assets/bubble.svg);
      background-color: currentcolor;
      margin-right: 6px;
    }
  }

  &__save-btn {
    @include reset-button;

    margin-left: 12px;
    width: 18px;
    height: 18px;
    mask: no-repeat center / auto 100% url(./assets/bookmark.svg);
    background-color: currentcolor;

    &:hover {
      @include themify {
        color: themed("secondary-inline-action-hover");
      }
    }

    &--active {
      mask: no-repeat center / auto 100% url(./assets/bookmark-filled.svg);

      @include themify {
        background-color: themed("orange-500");
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__voting {
    margin-left: auto;
  }
}
