@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.menu-item {
  @include reset-button;

  width: 100%;
  padding: 6px 10px;
  border-radius: 4px;
  text-align: left;

  &:hover {
    background-color: lighten($color: $gray-200, $amount: 2%);
  }

  &--selected {
    background-color: lighten($color: $primary, $amount: 40%);
    font-weight: 500;

    &:hover {
      background-color: lighten($color: $primary, $amount: 36%);
    }
  }
}
