@use "@sass/variables" as *;
@use "@sass/mixins" as *;

$color-selected-item: hsl(205, 80%, 91%);

.menu-item {
  @include reset-button;

  width: 100%;
  border-radius: 4px;
  text-align: left;
  white-space: nowrap;

  &:hover {
    background-color: $gray-200;
  }

  &--selected {
    background-color: $color-selected-item;
    font-weight: 600;

    &:hover {
      background-color: lighten($color-selected-item, 2%);
    }
  }

  &--size_md {
    padding: 7px 10px;
  }

  &--size_lg {
    padding: 8px 11px;
  }
}
