@use "@sass/mixins" as *;

@mixin loader-color-black {
  color: black;
  opacity: 0.4;
}

@mixin loader-color-white {
  color: white;
  opacity: 0.7;
}

.loader {
  $root: &;

  display: flex;

  @include loader-color-black;
  @include dark-mode {
    @include loader-color-white;
  }

  &__dot {
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0.5;
    animation: loader-dot-pulse 1s ease-in infinite;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }

  &--color_black {
    @include loader-color-black;
  }

  &--color_white {
    @include loader-color-white;
  }

  &--size_lg {
    #{$root}__dot {
      width: 8px;
      height: 8px;

      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }

  &--size_md {
    #{$root}__dot {
      width: 6px;
      height: 6px;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &--size_sm {
    #{$root}__dot {
      width: 4px;
      height: 4px;

      &:not(:last-child) {
        margin-right: 3px;
      }
    }
  }
}

@keyframes loader-dot-pulse {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  60% {
    opacity: 0.5;
    transform: scale(1);
  }
}
