@use "@sass/mixins" as *;

.image-post-body {
  display: flex;
  max-height: 500px;

  &__image {
    @include reset-button;

    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
