@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.image-post-body {
  max-height: clamp(400px, 52vh, 600px);

  @media (max-width: $screen-sm) {
    max-height: clamp(400px, 65vh, 720px);
  }

  &__image {
    @include reset-button;

    display: block;
    width: 100%;
    max-height: inherit;
    cursor: zoom-in;

    img {
      display: block;
      width: 100%;
      max-height: inherit;
      object-fit: contain;
    }
  }
}
