@use "./variables" as *;
@use "./mixins" as *;
@use "./typography";

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  transition: $transitions;
}

:focus-visible {
  outline: 0;

  @include themify {
    box-shadow: themed("focus-box-shadow");
  }
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  background-color: themed("gray-200");
  word-wrap: break-word;

  @include dark-mode {
    background-color: black;
    color-scheme: dark;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  fill: currentColor;
  overflow: visible;
}
