@use "./variables" as *;
@use "./typography";

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  transition: box-shadow .15s ease-in-out;
}

:focus-visible {
  box-shadow: $focus-box-shadow;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  background-color: $gray-200;
}
