@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-button {
  padding: 0px;
  border: none;
  font-family: inherit;
  color: unset;
  background-color: transparent;
  cursor: pointer;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-content {
  line-height: 1.6;
}
