@use "sass:list";
@use "sass:selector";
@use "./variables" as *;

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: unset;
  background-color: transparent;
  cursor: pointer;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-content {
  line-height: 1.6;
}

// Nests a selector inside `:root` if it is not already nested. Examples:
// Input: `div`. Output: `:root div`.
// Input: `html div`. Output: `:root div`.
// Input: `:root div`. Output: `:root div`.
// Input: `:root`. Output: `:root`.
@function root-nest-selector($selector) {
  $out: ();

  @each $sel in $selector {
    $new-selector: if(
      selector.is-superselector(":root, :root *, html, html *", $sel),
      selector.replace($sel, "html", ":root"),
      selector.nest(":root", $sel)
    );
    $out: list.append($out, $new-selector, $separator: comma);
  }

  @return $out;
}

@mixin color-mode($mode) {
  $selector: selector.replace(
    #{root-nest-selector(&)},
    ":root",
    ":root[data-color-mode=#{$mode}]"
  );

  @at-root #{$selector} {
    $theme-map: map-get($themes, $mode) !global;
    @content;
    $theme-map: null !global;
  }
}

@mixin themify {
  @include color-mode("light") {
    @content;
  }

  @include color-mode("dark") {
    @content;
  }
}

@mixin dark-mode {
  @include color-mode("dark") {
    @content;
  }
}

// The function uses `theme-map` defined by the `color-mode` mixin. If the
// function is called outside of the `color-mode` mixin, then the light theme is
// used by default.
@function themed($key) {
  @return map-get($theme-map or map-get($themes, "light"), $key);
}

@function transition-value(
  $property,
  $duration: 0.1s,
  $function: ease-out,
  $delay: 0s
) {
  @return $property $duration $function $delay;
}

@mixin transition($values...) {
  $processed-values: list.append((), $transitions);

  @each $value in $values {
    $processed-values: list.append(
      $processed-values,
      transition-value($value...),
      $separator: comma
    );
  }

  transition: $processed-values;
}
