@use "./mixins" as *;

html,
textarea {
  font-family: "Noto Sans", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;

  @include themify {
    color: themed("text-primary");
  }
}

textarea {
  @include text-content;
}
