$blue: #1d90f5;
$orange: #ff5e0d;
$indigo: #3333ff;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$primary: $blue;
$primary-dark: darken($primary, 15%);

$color-inline-action-hover: $primary-dark;

$focus-box-shadow: 0 0 0 3px #add2ff;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$z-index-dropdown: 1000;
$z-index-sticky: 1020;
