$blue: #1d90f5;
$orange: #ff5e0d;
$indigo: #3333ff;

$gray-100: hsl(220 10% 97%);
$gray-200: hsl(220 10% 94%);
$gray-300: hsl(220 10% 91%);
$gray-400: hsl(220 10% 88%);
$gray-500: hsl(220 10% 84%);
$gray-600: hsl(220 10% 65%);
$gray-700: hsl(220 10% 55%);
$gray-800: hsl(220 10% 38%);
$gray-900: hsl(220 10% 10%);

$primary: $blue;
$primary-dark: darken($primary, 15%);

$primary-inline-action-hover: lighten($gray-900, 35%);
$secondary-inline-action-hover: $gray-900;

$focus-box-shadow: 0 0 0 3px #add2ff;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$z-index-dropdown: 1000;
$z-index-sticky: 1020;
$z-index-fixed: 1030;
$z-index-offcanvas: 1040;
