@use "@sass/mixins" as *;
@use "sass:color";

.button {
  @include reset-button;
  @include transition(background-color);

  display: inline-flex;
  align-items: center;
  height: 36px;
  padding: 0 14px;
  color: var(--color);
  background-color: var(--bg-color);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  user-select: none;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
    background-color: var(--bg-color-hover);
  }

  &:active {
    background-color: var(--bg-color-active);
  }

  &__right-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
  }

  &--color_blue {
    --color: #{themed("gray-100")};

    @include themify {
      $bg-color: themed("blue-500");
      --bg-color: #{$bg-color};
      --bg-color-hover: #{color.adjust($bg-color, $blackness: 8%)};
      --bg-color-active: #{color.adjust($bg-color, $blackness: 14%)};
    }
  }

  &--color_gray {
    $bg-color: themed("gray-200");
    --bg-color: #{$bg-color};
    --bg-color-hover: #{darken($bg-color, 4%)};
    --bg-color-active: #{darken($bg-color, 8%)};

    @include dark-mode {
      $bg-color: themed("gray-700");
      --bg-color: #{$bg-color};
      --bg-color-hover: #{lighten($bg-color, 3%)};
      --bg-color-active: #{lighten($bg-color, 6%)};
    }
  }
}
