@use "@sass/variables" as *;
@use "@sass/mixins" as *;
@use "sass:color";

.button {
  @include reset-button;
  @include transition(background-color, opacity);

  $root: &;
  $size-sm: 32px;
  $size-md: 36px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  background-color: var(--bg-color);
  font-weight: 600;
  border-radius: 6px;
  user-select: none;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
    color: var(--color-hover, var(--color));
    background-color: var(--bg-color-hover);
  }

  &:active {
    background-color: var(--bg-color-active);
  }

  &__right-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
  }

  &--size_sm {
    height: $size-sm;
    padding: 0 12px;
    font-size: 14px;
  }

  &--size_md {
    height: $size-md;
    padding: 0 14px;
    font-size: 15px;
  }

  &--variant_text {
    padding: 0;
    border-radius: 0;
    width: auto;
    height: auto;
    background: initial;

    @include themify {
      --color-hover: #{themed("text-primary-hover")};
    }
  }

  &--pill {
    border-radius: 1000px;
  }

  &--icon {
    padding: 0;

    &#{$root}--size_sm {
      width: $size-sm;
    }

    &#{$root}--size_md {
      width: $size-md;
    }
  }

  &--variant_solid#{$root}--color_blue {
    --color: #{themed("gray-100")};

    @include themify {
      $bg-color: themed("blue-500");
      --bg-color: #{$bg-color};
      --bg-color-hover: #{color.adjust($bg-color, $blackness: 8%)};
      --bg-color-active: #{color.adjust($bg-color, $blackness: 14%)};
    }
  }

  &--variant_solid#{$root}--color_gray {
    $bg-color: themed("gray-200");
    --bg-color: #{$bg-color};
    --bg-color-hover: #{darken($bg-color, 4%)};
    --bg-color-active: #{darken($bg-color, 8%)};

    @include dark-mode {
      $bg-color: themed("gray-700");
      --bg-color: #{$bg-color};
      --bg-color-hover: #{lighten($bg-color, 3%)};
      --bg-color-active: #{lighten($bg-color, 6%)};
    }
  }

  &--variant_solid#{$root}--color_clear {
    $bg-color: white;
    --bg-color: #{$bg-color};
    --bg-color-hover: #{darken($bg-color, 2%)};
    --bg-color-active: #{darken($bg-color, 4%)};

    @include dark-mode {
      $bg-color: themed("gray-800");
      --bg-color: #{$bg-color};
      --bg-color-hover: #{lighten($bg-color, 3%)};
      --bg-color-active: #{lighten($bg-color, 6%)};
    }
  }
}
