@use "sass:color";
@use "@sass/mixins" as *;

.menu-item {
  @include reset-button;
  @include transition(background-color);

  $root: &;

  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  text-align: left;
  white-space: nowrap;

  &:hover {
    background-color: themed("gray-200");

    @include dark-mode {
      background-color: color.adjust(themed("gray-700"), $lightness: 7%);
    }
  }

  &__left-icon {
    font-size: 18px;
  }

  &--selected {
    background-color: themed("blue-200");
    font-weight: 600;

    @include dark-mode {
      background-color: themed("gray-500");
    }

    &:hover {
      background-color: color.adjust(themed("blue-200"), $lightness: 2%);

      @include dark-mode {
        background-color: color.adjust(themed("gray-500"), $lightness: 2%);
      }
    }
  }

  &--size_md {
    padding: 7px 10px;

    #{$root}__left-icon {
      margin-right: 8px;
    }
  }

  &--size_lg {
    padding: 8px 11px;

    #{$root}__left-icon {
      margin-left: -2px;
      margin-right: 12px;
    }
  }
}
