@use "@sass/variables" as *;

.menu {
  padding: 4px;
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0px 4px 8px rgba($color: black, $alpha: 0.10),
    0px 0px 1px rgba($color: black, $alpha: 0.30);

  &__item:not(:last-child) {
    margin-bottom: 3px;
  }
}
