@use "@sass/mixins" as *;

.menu {
  background-color: white;
  border-radius: 6px;
  box-shadow:
    0 4px 16px rgba($color: black, $alpha: 0.05),
    0 0 40px 20px rgba($color: black, $alpha: 0.03);

  @include dark-mode {
    background-color: themed("gray-700");
    box-shadow:
      0 4px 16px rgba($color: black, $alpha: 0.25),
      0 0 40px 20px rgba($color: black, $alpha: 0.25);
  }

  @include themify {
    color: themed("text-primary");
  }

  &--size_md {
    padding: 4px;

    > :not(:last-child) {
      margin-bottom: 3px;
    }
  }

  &--size_lg {
    padding: 6px;

    > :not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
