@use "@sass/variables" as *;

.post-comment-form,
.auth-to-comment,
.comments-sorting,
.comments,
.alerts {
  margin-top: 10px;
}

.alerts__item:not(:first-child) {
  margin-top: 6px;
}

.auth-to-comment {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  &__message {
    margin-bottom: 14px;
  }
}
