@use "@sass/mixins" as *;

.stat {
  &__value {
    font-size: 20px;
    font-weight: 500;
  }

  &__label {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;

    @include themify {
      color: themed("text-tertiary");
    }
  }
}
