@use "@sass/variables" as *;

.stat {
  &__value {
    font-size: 20px;
    font-weight: 500;
  }

  &__label {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: $gray-700;
  }
}
