@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.gallery-viewer {
  $padding: 4em;

  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax($padding, auto);
  justify-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: $padding;
  color: white;
  background-color: rgba($color: black, $alpha: 0.8);
  z-index: $z-index-fixed;

  &__background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: zoom-out;
  }

  &__body {
    place-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__view-area {
    position: relative;
    width: 100%;
    max-height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: zoom-out;
  }

  &__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &__prev-page-btn,
  &__next-page-btn {
    @include reset-button;
    @include transition(opacity);

    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
    opacity: 0.3;

    &:hover {
      opacity: 0.9;
    }
  }

  &__next-page-btn {
    right: 0;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    overflow: hidden;
  }

  &__caption {
    @include text-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(($padding - 1em) / 2);
    max-width: 100%;
  }

  &__caption-text {
    position: relative;
  }

  &__link {
    position: relative;
    color: themed("blue-400");

    &:hover {
      color: lighten(themed("blue-400"), 5%);
    }
  }

  &__external-icon {
    display: inline-block;
    margin-left: 4px;
    width: 10px;
  }

  &__counter {
    margin: calc(($padding - 1em) / 2) 0;
    font-weight: 500;
  }

  &__close-btn {
    @include reset-button;
    @include transition(opacity);

    position: absolute;
    right: 18px;
    top: 18px;
    opacity: 0.4;
  }

  &__close-btn:hover,
  &__background:hover ~ &__close-btn {
    opacity: 0.9;
  }

  &__left-arrow-icon,
  &__right-arrow-icon {
    position: absolute;
    width: 40px;
    filter: drop-shadow(0 1px 1px rgba(black, 0.33));
  }

  &__left-arrow-icon {
    left: 15%;
  }

  &__right-arrow-icon {
    right: 15%;
  }

  &__close-icon {
    width: 22px;
  }
}
