.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0;
  animation: spinner-grow 1.5s linear infinite;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.4;
    transform: none;
  }
}
