@use "@sass/mixins" as *;

.read-more {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover &__button {
    @include themify {
      color: themed("text-primary-hover");
    }
  }

  &__button {
    @include reset-button;
    @include themify {
      color: themed("text-primary");
    }

    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      margin-left: -2em;
      margin-top: -0.2em;
      width: 2em;
      height: 1.6em;
      background-color: white;
      mask-image: linear-gradient(to right, rgba(#000, 0), rgba(#000, 1));
      pointer-events: none;

      @include dark-mode {
        background-color: themed("gray-900");
      }
    }
  }
}
