@use "@sass/mixins" as *;

.read-more {
  position: relative;

  &:hover &__button {
    @include themify {
      color: themed("text-primary-hover");
    }
  }

  &__text {
    overflow: hidden;
  }

  &__button {
    --bg-color: white;

    @include reset-button;
    @include themify {
      color: themed("text-primary");
    }
    @include dark-mode {
      --bg-color: #{themed("gray-900")};
    }

    position: absolute;
    right: 0px;
    bottom: 0px;
    font-weight: 500;
    line-height: inherit;
    background-color: var(--bg-color);

    // Gradient that fades out main text
    &::before {
      $width: 4em;

      content: "";
      position: absolute;
      margin-left: -$width;
      width: $width;
      height: 100%;
      background-color: var(--bg-color);
      mask-image: linear-gradient(to right, transparent, black 90%);
    }
  }

  &--preview {
    cursor: pointer;
  }
}
