@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.voting {
  display: flex;
  align-items: center;

  &__score {
    margin: 0 6px;
  }

  &__down-btn,
  &__up-btn {
    @include reset-button;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    &::after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background-color: currentcolor;
    }

    &:hover::before {
      background-color: rgba($color: black, $alpha: 0.07);
    }
  }

  &__down-btn::after {
    mask: no-repeat center url("@assets/svg/arrow-down.svg");
  }

  &__up-btn::after {
    mask: no-repeat center url("@assets/svg/arrow-up.svg");
  }

  &--vote-up {
    .voting__score {
      color: $orange;
    }

    .voting__up-btn::after {
      background-color: $orange;
    }
  }

  &--vote-down {
    .voting__score {
      color: $indigo;
    }

    .voting__down-btn::after {
      background-color: $indigo;
    }
  }
}
