@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.voting {
  display: flex;
  align-items: center;

  &__score {
    margin: 0 6px;
  }

  &__icon {
    height: 18px;
  }

  &__down-btn,
  &__up-btn {
    @include reset-button;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }

    &:hover::before {
      background-color: rgba($color: black, $alpha: 0.07);

      @include dark-mode {
        background-color: rgba($color: white, $alpha: 0.07);
      }
    }
  }

  &--vote-up {
    @include themify {
      .voting__score,
      .voting__up-btn {
        color: themed("orange-500");
      }
    }
  }

  &--vote-down {
    @include themify {
      .voting__score,
      .voting__down-btn {
        color: themed("indigo-500");
      }
    }
  }
}
