@use "@sass/mixins" as *;

.comment {
  &__body {
    margin: 8px 0;
  }

  &__footer {
    display: flex;
    font-weight: 500;

    @include themify {
      color: themed("text-secondary");
    }
  }

  &__reply-btn {
    @include reset-button;

    font-weight: inherit;

    &:hover {
      @include themify {
        color: themed("text-secondary-hover");
      }
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.6;
    }
  }

  &__voting {
    margin-left: auto;
  }

  &--deleted {
    color: themed("gray-700");

    @include dark-mode {
      color: themed("gray-400");
    }
  }
}
