@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.comment {
  &__body {
    margin: 6px 0;
  }

  &__footer {
    display: flex;
    font-weight: 500;
  }

  &__reply-btn {
    @include reset-button;

    font-weight: inherit;

    &:hover {
      color: $color-inline-action-hover;
    }
  }

  &__voting {
    margin-left: auto;
  }

  &--deleted {
    color: $gray-600;
  }
}
