@use "sass:color";
@use "@sass/mixins" as *;

.skeleton {
  --pulse-color: #{color.adjust(themed("gray-400"), $lightness: 4%)};

  display: inline-block;
  width: 100%;
  line-height: 1em;
  background-color: themed("gray-400");
  animation: 1.2s ease-in-out infinite skeleton-pulse;

  @include dark-mode {
    --pulse-color: #{color.adjust(themed("gray-700"), $lightness: -4%)};

    background-color: themed("gray-700");
  }

  &::before {
    content: "";
    display: inline-block;
  }

  &--round-corners {
    border-radius: 3px;
  }

  &--circle {
    border-radius: 50%;
  }

  &--block {
    display: block;
  }
}

@keyframes skeleton-pulse {
  50% {
    background-color: var(--pulse-color);
  }
}
