@use "@sass/variables" as *;

.skeleton {
  display: inline-block;
  width: 100%;
  line-height: 1em;
  border-radius: 3px;
  background-color: darken($color: $gray-300, $amount: 1%);
  animation: skeleton-pulse 1.2s ease-in-out infinite;

  &::before {
    content: "";
    display: inline-block;
  }

  &--circle {
    border-radius: 50%;
  }

  &--block {
    display: block;
  }
}

@keyframes skeleton-pulse {
  50% {
    background-color: lighten($color: $gray-300, $amount: 3%);
  }
}
