@use "@sass/variables" as *;

.skeleton {
  display: inline-block;
  width: 100%;
  height: 1em;
  border-radius: 0.2em;
  vertical-align: -6%;
  background-color: darken($color: $gray-300, $amount: 1%);
  animation: skeleton-pulse 1.2s ease-in-out infinite;

  &--circle {
    border-radius: 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .skeleton {
    font-size: 1.2em;
  }
}

@keyframes skeleton-pulse {
  50% {
    background-color: lighten($color: $gray-300, $amount: 3%);
  }
}
