@use "@sass/mixins" as *;

.card {
  background-color: white;
  border-radius: 8px;

  @include dark-mode {
    border-color: themed("gray-600");
    background-color: themed("gray-900");
  }

  &--border {
    border: 1px solid themed("gray-500");
  }

  &--overflow-hidden {
    overflow: hidden;
  }
}
