@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.comment-wrapper {
  display: flex;

  &__collapse-btn {
    @include reset-button;

    flex-shrink: 0;
    position: relative;
    width: 2px;
    background-color: $gray-400;

    &::before {
      $offset: 5px;
      content: "";
      position: absolute;
      left: -$offset;
      right: -$offset;
      top: -$offset;
      bottom: -$offset;
    }

    &:hover {
      background-color: $gray-500;
    }
  }

  &__body {
    flex-grow: 1;
    min-width: 0;
    padding: 5px 0 5px 10px;
  }
}
