@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.comment-wrapper {
  display: flex;

  &__collapse-btn {
    @include reset-button;

    flex-shrink: 0;
    position: relative;
    width: 2px;
    background-color: $gray-300;

    &::before {
      content: "";
      position: absolute;
      left: -10px;
      top: 0;
      right: -5px;
      bottom: 0;
    }

    &:hover {
      background-color: darken($color: $gray-300, $amount: 6%);
    }
  }

  &__body {
    flex-grow: 1;
    min-width: 0;
    padding: 6px 0 6px 10px;
  }
}
