@use "@sass/mixins" as *;

.comment-wrapper {
  display: flex;

  &__collapse-btn {
    @include reset-button;

    flex-shrink: 0;
    padding-right: 4px;
    width: 2px;
    background-color: themed("gray-300");
    background-clip: content-box;
    box-sizing: content-box;

    @include dark-mode {
      background-color: themed("gray-600");
    }

    &:hover {
      background-color: darken(themed("gray-300"), 6%);

      @include dark-mode {
        background-color: lighten(themed("gray-600"), 6%);
      }
    }
  }

  &__body {
    flex-grow: 1;
    min-width: 0;
    padding: 6px;
    padding-right: 0px;
  }
}
