@use "@sass/mixins" as *;

.link-post-body {
  display: flex;
  align-items: center;
  margin: 0 12px;
  border: 1px solid themed("gray-500");
  border-radius: 8px;
  padding: 10px;
  font-weight: 500;

  @include dark-mode {
    border-color: themed("gray-600");
  }

  &:hover {
    @include themify {
      color: themed("primary-inline-action-hover");
    }
  }

  &__favicon {
    margin-right: 10px;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    background: no-repeat center / 100%;
  }

  &__external-icon {
    display: inline-block;
    margin-left: 4px;
    width: 10px;
  }
}
