@use "@sass/mixins" as *;

.alert {
  padding: 12px 14px;
  border-radius: 6px;
  color: themed("yellow-800");
  background-color: themed("yellow-300");

  @include dark-mode {
    color: themed("yellow-400");
    background-color: themed("yellow-900");
  }
}
