@use "@sass/mixins" as *;

.author-header {
  $avatar-size: 140px;
  $offset: $avatar-size * 0.8;

  margin-top: $offset - 10px;

  &__body {
    padding: 12px;
  }

  &__picture {
    border: 6px solid white;
    border-radius: 50%;
    width: $avatar-size;
    height: $avatar-size;
    margin-top: -$offset;
  }

  &__name {
    margin: 16px 0 22px;
    font-size: 30px;
    font-weight: 500;
  }

  &__description {
    @include text-content;

    margin: -6px 0 22px;
  }

  &__stats {
    display: flex;

    >*:not(:last-child) {
      margin-right: 25px;
    }
  }
}
