.author-header {
  $avatar-size: 140px;
  $offset: $avatar-size * 0.8;

  margin-top: $offset - 10px;

  &__picture {
    border: 5px solid white;
    border-radius: 50%;
    width: $avatar-size;
    height: $avatar-size;
    margin-top: -$offset;
    background-color: white;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
  }

  &__description {
    margin-bottom: 16px;
  }

  &__stats {
    display: flex;

    >*:not(:last-child) {
      margin-right: 25px;
    }
  }
}
