@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.author-header {
  $avatar-size: 140px;
  $offset: $avatar-size * 0.8;

  margin-top: $offset - 10px;

  &__body {
    position: relative;
    padding: 12px;
  }

  &__avatar {
    border: 6px solid white;
    border-radius: 50%;
    width: $avatar-size;
    height: $avatar-size;
    margin-top: -$offset;
    font-size: 80px;

    @include dark-mode {
      border-color: themed("gray-900");
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 17px;
  }

  &__name {
    @include text-truncate;

    line-height: normal;
    font-size: 30px;
    font-weight: 500;
  }

  &__button {
    @media (max-width: $screen-sm) {
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }

  &__description {
    @include text-content;

    margin-top: -6px;
  }

  &__stats {
    display: flex;
    margin-top: 22px;

    > *:not(:last-child) {
      margin-right: 25px;
    }
  }
}
