@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.dropdown-menu {
  display: inline-block;
  position: relative;

  &__menu {
    @include transition(opacity, transform);

    position: absolute;
    margin-top: 6px;
    transform-origin: top left;
    z-index: $z-index-dropdown;

    &--hidden {
      opacity: 0;
      transform: scale(0.9);
      pointer-events: none;
    }

    &--align-right {
      right: 0;
      transform-origin: top right;
    }
  }
}
