@use "@sass/variables" as *;

.dropdown-menu {
  display: inline-block;
  position: relative;

  &__menu {
    position: absolute;
    margin-top: 6px;
    z-index: $z-index-dropdown;

    &--hidden {
      display: none;
    }

    &--align-right {
      right: 0;
    }
  }
}
