@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.site-nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px darken(white, 10%);
  height: 50px;
  padding: 0 20px;
  top: 0;
  z-index: $z-index-sticky;
}

.user-menu {
  &__button {
    @include reset-button;

    display: flex;
    align-items: center;
  }

  &__button-avatar {
    margin-right: 6px;
  }

  &__button-icon {
    width: 12px;
    height: 12px;
    background-color: currentcolor;
    mask: no-repeat center url("@assets/svg/arrow-down.svg");
  }

  &__item-icon {
    display: block;
    width: 18px;
    height: 18px;
    background-color: currentcolor;
    mask: no-repeat center;
  }

  &__user-icon {
    mask-image: url("./assets/user.svg");
  }

  &__out-icon {
    mask-image: url("./assets/out.svg");
  }
}
