@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.site-nav {
  display: flex;
  position: sticky;
  height: 50px;
  background-color: white;
  box-shadow: 0 1px darken(white, 10%);
  top: 0;
  z-index: $z-index-sticky;

  @include dark-mode {
    box-shadow: 0 1px lighten(themed("gray-900"), 6%);
    background-color: themed("gray-900");
  }

  &__right-col {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
  }

  &__search {
    width: 200px;
  }

  &__button {
    @include reset-button;
    @include themify {
      color: themed("text-secondary");

      &:hover {
        color: themed("text-secondary-hover");
      }
    }

    height: 100%;
  }

  &__user-menu {
    display: flex;
    margin-left: 18px;
  }

  &__section {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 20px;
  }

  &__section-back-btn {
    padding: 0 15px;
  }

  &__section-content {
    flex-grow: 1;
  }
}
