@use "@sass/mixins" as *;

.user-menu {
  &__button {
    @include reset-button;

    display: flex;
    align-items: center;

    &:hover {
      @include themify {
        color: themed("text-primary-hover");
      }
    }
  }

  &__button-icon {
    margin-left: 6px;
    width: 12px;
  }

  &__item-icon {
    width: 18px;
  }
}
