@use "@sass/mixins" as *;

.user-menu {
  &__button {
    @include reset-button;

    display: flex;
    align-items: center;
  }

  &__button-icon {
    margin-left: 6px;
    width: 12px;
    height: 12px;
    background-color: currentcolor;
    mask: no-repeat center url("@assets/svg/arrow-down.svg");
  }

  &__item-icon {
    display: block;
    width: 18px;
    height: 18px;
    background-color: currentcolor;
    mask: no-repeat center;
  }

  &__user-icon {
    mask-image: url("./assets/user.svg");
  }

  &__sun-icon {
    mask-image: url("./assets/sun.svg");
  }

  &__moon-icon {
    mask-image: url("./assets/moon.svg");
  }

  &__out-icon {
    mask-image: url("./assets/out.svg");
  }
}
