.carousel {
  width: 100%;
  height: 100%;
  position: relative;

  &__item {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__controls {
    width: 100%;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 0px;
  }

  &__indicators {
    display: flex;
    align-self: flex-end;
    gap: 3px;
    border-radius: 100px;
  }

  &__indicator {
    width: 16px;
    height: 16px;
    align-items: center;
    background-color: rgba($color: black, $alpha: 0.2);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0px;

    &:hover {
      background-color: rgba($color: black, $alpha: 0.3);
    }

    &--selected::before {
      width: 50%;
      height: 50%;
      background-color: white;
      border-radius: 50%;
      content: "";
    }
  }

  &__prev-btn,
  &__next-btn {
    width: 50px;
    height: 50px;
    background: no-repeat 55% center / 50% url(./assets/arrow-right.svg),
      rgba($color: black, $alpha: 0.2);
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: black, $alpha: 0.3);
    }
  }

  &__prev-btn {
    transform: rotate(180deg);
  }
}