@use "@sass/mixins" as *;

.video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  &__fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__poster {
    object-fit: contain;
  }

  &__placeholder {
    fill: themed("gray-800");

    @include dark-mode {
      fill: themed("gray-700");
    }
  }

  &__play-button {
    @include reset-button;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
  }
}
