@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  background-color: themed("gray-200");

  @include dark-mode {
    background-color: black;
  }

  &__header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: $navbar-height;
  }

  &__body {
    flex-grow: 1;
    padding: 10px;
    overflow: auto;
    mask: linear-gradient(black calc(100% - 10px), transparent);
  }

  &__header + &__body {
    mask: linear-gradient(
      transparent,
      black 10px,
      black calc(100% - 10px),
      transparent
    );
  }

  &__menu:not(:last-child) {
    margin-bottom: 10px;
  }

  &__item-icon {
    width: 20px;
    height: 20px;
  }

  &__footer {
    display: flex;
    padding: 10px 22px 20px;
  }

  &__github-icon {
    height: 28px;

    @include themify {
      color: themed("text-tertiary");
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
