@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100%;
  background-color: $gray-200;
  overflow: hidden;

  &__body {
    padding: 10px;
    overflow: auto;
  }

  &__menu {
    @include reset-list;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    border-radius: 6px;

    &--active {
      background-color: white;
      font-weight: 600;
    }

    &:not(&--active):hover {
      background-color: $gray-100;
    }
  }

  &__item-icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;

    &--feed {
      mask: no-repeat center / 100% url("./assets/feed.svg");
    }

    &--popular {
      mask: no-repeat center / 100% url("./assets/top.svg");
    }
  }

  &__menu--user &__item-icon {
    background-color: currentColor;
    transform: scale(0.85);
  }

  &__item-text {
    @include text-truncate;

    line-height: 1.5;
  }

  &__footer {
    position: relative;
    padding: 10px 22px 18px;
    box-shadow: -30px -10px 20px 14px $gray-200;
  }

  &__github-icon {
    display: block;
    width: 28px;
    height: 28px;
    background-color: $gray-700;
    mask: no-repeat center / 100% url("./assets/github.svg");

    &:hover {
      opacity: 0.8;
    }
  }
}
