@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.sidebar {
  width: 220px;
  height: 100%;
  padding: 10px;
  overflow: auto;
  background-color: $gray-200;

  ul {
    @include reset-list;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  li:not(:last-child) {
    margin-bottom: 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    border-radius: 6px;

    &--active {
      background-color: white;
      font-weight: 600;
    }

    &:not(&--active):hover {
      background-color: $gray-100;
    }
  }

  &__item-icon {
    margin-right: 12px;
  }

  &__item-text {
    @include text-truncate;

    line-height: 1.5;
  }
}
