@use "@sass/mixins" as *;

.submission-header {
  display: flex;
  align-items: center;
  min-width: 0;
  font-size: 15px;
  line-height: 1.3;

  > :not(:last-child) {
    margin-right: 12px;
  }

  & a:hover {
    @include themify {
      color: themed("text-primary-hover");
    }
  }

  &__secondary-author {
    @include text-truncate;
  }

  &__date {
    color: themed("gray-700");

    @include dark-mode {
      color: themed("gray-300");
    }
  }

  &__status-icons {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 12px;
    color: themed("gray-600");

    @include dark-mode {
      color: themed("gray-400");
    }

    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__flair {
    @include text-truncate;

    flex-shrink: 10000;
    min-width: 30px;
  }
}

.primary-author {
  display: flex;
  align-items: center;
  min-width: 0;
  font-weight: 500;

  &__avatar {
    margin-right: 5px;
  }

  &__name {
    @include text-truncate;
  }

  &--highlighted &__name {
    padding: 0 4px;
    border-radius: 4px;
    color: white;
  }

  &--highlighted:hover &__name {
    opacity: 0.85;
  }

  &--submitter &__name {
    background-color: themed("blue-400");

    @include dark-mode {
      background-color: themed("blue-500");
    }
  }

  &--moderator &__name {
    @include themify {
      background-color: themed("green-500");
    }
  }

  &--admin &__name {
    background-color: themed("orange-400");

    @include dark-mode {
      background-color: themed("orange-500");
    }
  }
}
