@use "@sass/mixins" as *;

.submission-header {
  display: flex;
  align-items: center;
  font-size: 15px;

  > :not(:last-child) {
    margin-right: 12px;
  }

  & a:hover {
    @include themify {
      color: themed("primary-inline-action-hover");
    }
  }

  &__secondary-author {
    @include text-truncate;

    line-height: 1.3;
  }

  &__date {
    color: themed("gray-700");

    @include dark-mode {
      color: themed("gray-300");
    }
  }

  &__status-icons {
    display: flex;

    > * {
      width: 12px;
      height: 12px;
      background-color: themed("gray-600");

      @include dark-mode {
        background-color: themed("gray-400");
      }
    }

    > :not(:last-child) {
      margin-right: 6px;
    }
  }

  &__pencil-icon {
    mask: no-repeat center url(./assets/pencil.svg);
  }

  &__pin-icon {
    mask: no-repeat center url(./assets/pin.svg);
  }

  &__lock-icon {
    mask: no-repeat center url(./assets/lock.svg);
  }
}

.primary-author {
  display: flex;
  align-items: center;
  font-weight: 500;

  &__avatar {
    margin-right: 5px;
  }

  &--highlighted &__name {
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
  }

  &--highlighted:hover &__name {
    opacity: 0.85;
  }

  &--submitter &__name {
    background-color: themed("blue-400");

    @include dark-mode {
      background-color: themed("blue-500");
    }
  }

  &--moderator &__name {
    @include themify {
      background-color: themed("green-500");
    }
  }

  &--admin &__name {
    background-color: themed("orange-400");

    @include dark-mode {
      background-color: themed("orange-500");
    }
  }
}
