.page {
  &__layout {
    display: flex;
  }

  &__sidebar,
  &__offcanvas {
    top: 50px;
    height: calc(100vh - 50px);
  }

  &__sidebar {
    position: sticky;
  }

  &__content {
    flex-grow: 1;
    margin: 14px auto;
    max-width: 100%;
  }
}
