@use "@sass/variables" as *;

.page {
  &__navbar {
    position: sticky;
    top: 0;
    height: $navbar-height;
    z-index: $z-index-sticky;
  }

  &__layout {
    display: flex;
  }

  &__sidebar {
    position: sticky;
    top: $navbar-height;
    height: calc(100vh - $navbar-height);
  }

  &__content {
    flex-grow: 1;
    min-width: 0;
    margin: 16px 0;
  }
}
