@use "@sass/mixins" as *;

.avatar {
  $size-xs: 20px;
  $size-sm: 24px;
  $size-md: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background:
    center / cover url(./assets/default-avatar-light.svg?inline),
    white;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  user-select: none;

  @include dark-mode {
    background-image: url(./assets/default-avatar-dark.svg?inline);
  }

  &--shadow {
    box-shadow: inset 0 0 0 1px rgba(black, 0.15);

    @include dark-mode {
      box-shadow: inset 0 0 0 1px rgba(white, 0.25);
    }
  }

  &--size_xs {
    width: $size-xs;
    height: $size-xs;
    font-size: $size-xs * 0.6;
  }

  &--size_sm {
    width: $size-sm;
    height: $size-sm;
    font-size: $size-sm * 0.6;
  }

  &--size_md {
    width: $size-md;
    height: $size-md;
    font-size: $size-md * 0.6;
  }
}
