@use "@sass/variables" as *;

.offcanvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: $z-index-offcanvas;

  &--contained {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);
  }

  &__body {
    position: absolute;
    height: 100%;
  }
}
