@use "@sass/variables" as *;
@use "@sass/mixins" as *;

.comment-thread {
  &__replies {
    @include reset-list;

    margin-left: 20px;
  }

  &__reply {
    margin-top: 30px;
  }

  &__more-replies-btn {
    color: unset;
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    font: inherit;
    font-weight: 500;

    &:hover {
      color: $primary-dark;
    }
  }
}
