@use "@sass/mixins" as *;

.flair {
  display: inline-block;
  border-radius: 0.35em;
  padding: 0 0.35em;
  font-size: 0.95rem;
  line-height: 1.4;
  background-color: lighten(themed("text-tertiary"), 41%);

  @include themify {
    color: themed("text-tertiary");
  }

  @include dark-mode {
    background-color: darken(themed("text-tertiary"), 37%);
  }
}
