@use "@sass/mixins" as *;

.flair {
  display: inline-block;
  border-radius: 0.35em;
  padding: 0 0.35em;
  font-size: 0.95rem;
  line-height: 1.4;
  color: themed("gray-700");
  background-color: lighten(themed("gray-700"), 41%);

  @include dark-mode {
    color: themed("gray-400");
    background-color: darken(themed("gray-400"), 37%);
  }
}
