@use "@sass/mixins" as *;

.navbar-logo {
  display: flex;
  align-items: center;
  height: 100%;

  &__menu-btn {
    @include reset-button;

    height: 100%;
    padding: 0 20px;

    &:hover {
      @include themify {
        color: themed("text-primary-hover");
      }
    }
  }

  &__logo {
    width: 112px;
    height: 35px;
    background: no-repeat left url("@assets/logo-light.svg");

    @include dark-mode {
      background-image: url("@assets/logo-dark.svg");
    }
  }
}
